body {
    background: #efefef;
    font: 14px/22px "open_sans",Arial,sans-serif;
    color: #212529!important;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}


/*page loader*/
.loader-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 99999999;
    background-color: #26292e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }




.cv-main{
    background: #efefef;
}
p{
    margin: 0;
}
ul{
    padding: 0!important;
    margin: 0;
    list-style: none;
}

.main-nav ul li a, .info ul.info-list li .inf, .exp .hgroup h4, .block.service .det h3, .block-quote .block-profile, .block-quote .block-profile span, .item a .desc h3, .address-info p, .search-form input[type="text"], .author a, .but {
    font-family: 'open_sansbold',Arial,sans-serif;
}

 .profile h1, .main-title h1 {
    font-family: 'open_sansextrabold',Arial,sans-serif;
    color: #333333;
    font-weight: 600;
}
.about .profile h1{
    font-size: 28px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: -1.5px;
    margin: 0px 0px 10px 0px;
}
.about .profile h3 {
    font-size: 18px;
    color: #777777;
    margin: 0px 0px 10px 0px;
    font-weight: 300;
    letter-spacing: 2px;

}
.main-title h1 {
    margin-bottom: 10px;
    font-size: 15px;
}
.container {
    max-width: 1170px;
    padding: 80px 15px;
    margin-right: auto;
    margin-left: auto;
}

.row-flex{
    display: flex;
    max-width: 100%;
    gap: 20px;
    justify-content: center;
}

.profile-navigation{
    max-width: 25%;
    gap: 0px;
    display: flex;
    flex-direction: column;
}

.profile-navigation img{
    min-width: 100%;
}
.btn-navigation{
    text-align: right;
}
.main-nav ul li {
    position: relative;
    border-bottom: 1px solid #26292e;
    text-transform: capitalize;
    text-align: right;
    background: #33373d;
    color: #85878b;
    font-size: 12px;
    text-transform: uppercase;
    padding: 15px 25px;
    cursor: pointer;
}
.main-nav ul li:hover{
    color: #ffffff;
    background: #cd5353
}
.main-nav ul li.active{
    color: #ffffff;
    background: #cd5353
}
.main-nav ul li i {
    position: absolute;
    left: 25px;
    font-size: 22px;
}


.social-icon i{
    color: #333333;
    font-size: 35px;
}
.social-icon i:hover{
    color: #cd5353;
}
.info-display{
    width: 65%;
}
.main-title {
    border-bottom: 1px solid #DEE2E6;
    padding: 10px 40px 10px 40px;
    position: relative;
}
.zigzag.large {
    position: absolute;
    bottom: -15px;
    stroke: #cd5353;
    stroke-width: 4.3;
    padding: 0 10px;
    fill: none;
    stroke-miterlimit: 10;

}
.content {
    padding: 40px;
}

.additional-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}
.additional-info p{
   font-size: 16px;
   line-height: 25px;
}

.info.col-1,
.info.col-2{
    width: 50%;;

}

.info-table tr:first-child:before{
   background-color: #ffffff;
}
.info-table th{
    border-right: 1px solid #DEE2E6;
    color: #333333;
    padding: 8px 10px;
} 
.info-table td{
    color: #333333;
    padding: 8px 10px;
}
.measure{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 25px;
}
.coding-skills,
.professional-assets{
    width: 90%;
}
.professional h4{
    font-size: 14px;
    color: #999999;
    font-weight: 600;
    margin: 15px 0px 5px 0px;
}
.professional-description{
    width: 10%;
    text-align: center;
}

.code .professional-description p{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    padding: 5px 25px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    border: 1.5px dashed #cd5353;
}

.assets .professional-description p{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    padding: 5px 25px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    border: 1.5px dashed #33373d;
}
.experience .workgroup-list{
    list-style: disc;
}
.experience .work-group{
    margin: 0px 0px 25px 20px;
}

.work-group h5{
    font-size: 16px;
    font-weight: 600;
}
.experience .content h4{
    color: #333333;
    margin: 10px 0px;
    font-size: 16px;
    line-height: 16px;
}
.experience .content h6{
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    font-weight: 400;
    padding-left: 26px;
    position: relative;
}
.experience .work-group i{
    position: absolute;
    font-size: 16px;
    left: 5px;
    bottom: 0px;
}

.services h4{
    margin: 15px 0px;
    font-size: 20px;
    color: #333333;
    font-weight: 600;
}
.services p{
    font-size: 16px;
    line-height: 25px;
}
.services i{
    text-align: center;
    font-size: 30px;
    color: #cd5353;
}
iframe{
    width: 100%;
    height: 500px;
    filter:invert(100%);
}
.contact-information{
    border: 1px solid #DEE2E6;
    margin: 40px 20px;
}
.contact-info .content{
    padding: 20px;
}
.contact-info h2 {
    font-family: 'open_sansextrabold',Arial,sans-serif;
}
.content-details{
    padding: 50px 50px;
}
.content-box{
    border: 1px solid #DEE2E6;
    padding: 50px 0px;
}

.content-details a{
    text-align: center;
    position: relative;
    color: #212529;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'open_sansextrabold',Arial,sans-serif;
}
.content-details a:hover{
    color: #cd5353;
}

.content-details i{
    font-size: 25px;
}
.form-submit button,
.form-submit button:hover{
   color: #ffffff;
   background-color: #cd5353;
   border: 0px;
}
.download-btn-wrapper{
    border-top: 1px solid #DEE2E6;
    position: relative;
}
.zigzag-download{
    top: -15px;
    left: calc(50% - 28px);
    text-align: center;
    position: absolute;
    stroke: #cd5353;
    stroke-width: 4.3;
    padding: 0 10px;
    fill: none;
    stroke-miterlimit: 10;
}
.print-btn{
    background-color: #cd5353;
    cursor: pointer;
}
.download-btn{
    background-color: #33373d;
    cursor: pointer;
}
.portfolio a{
    color: #33373d;
    font-size: 18px;
    text-decoration: none;
}
.portfolio a:hover{
    color: #cd5353;
}
.active{
    display: block;
}
.hide{
    display: none;
}

@media only screen and (max-width: 576px) {
    .container{
        margin: 0px 0px 80px 0px;
        padding: 50px 20px 0px;
    }
    .row-flex {
        gap: 15px;
        flex-direction: column;
    }
    .profile-navigation,
    .info-display {
        min-width: 100%;
    }
    .info-table {
        gap: 0;
        flex-direction: column;
    }
    .loc p {
        font-size: 21px;
        line-height: 31px;
    }
    .content {
        padding: 20px;
    }
    .about .profile h1{
        font-size: 22px;

    }
    .about .profile h3 {
        font-size: 16px;

    }
    .professional-description{
        display: none;
    }
  }